{:paths ["src" "dev" ]
 :deps {
        criterium/criterium  {:mvn/version "0.4.6"}
        com.hyperfiddle/rcf {:mvn/version "20220926-202227"}
        io.github.nextjournal/clerk {:mvn/version "0.13.838"}}}