{:builds
 {:app {:asset-path "/js"
        :modules {:main {:entries [ui]}}
        :output-dir "resources/public/js"
        :target :browser
        :compiler-options {:preloads [devtools.preload]}}}
 :dependencies [[reagent "0.10.0"]
                [binaryage/devtools "1.0.6"]]
 :dev-http {3000 ["resources/public" "target/public"]}
 :nrepl {:port 3333}
 :source-paths ["src-cljs"]}